.btn{
  padding: 15px 21px;
  font-size: 1rem;

  cursor: pointer;
}
.btn-primary-outline{
  display: flex;
  align-items: center;
  gap: 5px;

  border: 1px solid var(--white);
  background-color: rgba(var(--primary-rgb), .6);

  font-weight: 600;
  color: var(--black);

  border-radius: 999px;

  box-shadow: 2px 4px 10px -7px rgba(0, 0, 0, .7);

  transition: background-color .3s ease;
}
.btn-primary-outline i {
  font-size: 1.5rem;
}
.btn-primary-outline:hover{
  background-color: rgba(var(--primary-rgb), .8);
}
.btn-primary-outline:active{
  background-color: rgba(var(--primary-rgb), 1);
}

/* arrow */
.btn-arrow{
  display: inline-block;

  cursor: pointer;
  
  width: 30px;
  height: 30px;
  
  line-height: calc(30px - 2 * 2px);

  border-radius: 999px;

  box-shadow: 0 4px 7px -6px rgba(0, 0, 0, .7);
}
.arrow-primary{
  background-color: transparent;

  border: 2px solid var(--primary);

  font-weight: 600;

  transition: all .3s ease-in-out;
}
.arrow-primary:hover{
  background-color: var(--primary);
  
  border-color: var(--white);
}
.arrow-primary:active{
  transform: scale(.95);
}

.btn-small{
  font-weight: 400;
  font-size: .8rem;
  text-align: left;
}

/* social */
.btn-social{
  width: 30px;
  height: 30px;

  line-height: calc(30px - 2 * 1px);

  border: 1px solid var(--black);
  border-radius: 999px;

  box-shadow: 0 4px 7px -5px rgba(0, 0, 0, .7);

  cursor: pointer;

  transition: all .3s ease;
}
.btn-social-primary{
  border-color: var(--black);
  background-color: transparent;
}
.btn-social-primary:hover{
  border-color: var(--white);
  background-color: var(--primary);
}