.ratings_container{
  position: relative;
  padding: 1rem 0 2rem;
}

.ratings_btns{
  display: flex;
  gap: .5rem;

  position: absolute;
  bottom: 0;
  right: 5%;
}

.ratings_container .slick-track{
  display: flex;
  align-items: stretch;
}

/* rating item */
.rating_item{
  background-color: var(--secondary);
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin: 0 .75rem;
  padding: 1rem;

  border-radius: var(--border);
}

.rating_pre{
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  line-height: 1.25;
  overflow: hidden;

  margin-bottom: 1rem;
}

.rating_item__user{
  display: flex;
  align-items: center;
  gap: 10px;
}
.rating_item__user_img{
  width: 50px;
  height: 50px;

  object-fit: cover;
  
  border-radius: 999px;
}
.rating_item__user_name{
  font-size: .8rem;
}