.form{
  margin: 1.5rem 0;
}

.form > * ~ *{
  margin-top: 1rem;
}

.form__item{
  display: flex;
  flex-direction: column;
}

.item__label{
  font-weight: 600;
  margin-bottom: 10px;
}

.item__input{
  padding: 7px 13px;
  
  background-color: transparent;

  border: 1px solid var(--border-color);
  border-radius: var(--border);
}

.checkout__card{
  display: flex;
  flex-wrap: wrap;

  gap: .5rem;
}