.cart{
  display: flex;
  gap: 1rem;
}

.cart__left{
  flex: 3;
}

.cart__right{
  flex: 1;
}
.cart__right > * ~ * {
  margin-top: 1.5rem;
}

.cart__section{
  padding: 1rem;
  border-radius: var(--border);

  border: 1px solid var(--border-color);
}

.cart__section_center{
  display: flex;
  justify-content: center;
}

/* voucher */
.cart__inp_voucher{
  display: flex;
  align-items: stretch;
  margin: 1rem 0;
}
.cart__inp_voucher--input{
  display: flex;
  align-items: center;
  padding: 0 13px;
  flex-grow: 1;
  
  border: 1px solid var(--border-color);
  border-radius: var(--border) 0 0 var(--border);
}
.cart__inp_voucher--input input{
  display: block;
  flex-grow: 1;
  width: 100%;
  margin-left: 7px;

  background-color: transparent;
}

.cart__inp_voucher .btn{
  border-radius: 0 var(--border) var(--border) 0;
}

@media screen and (max-width: 768px) {
  .cart{
    flex-direction: column;
  }

  .cart__inp_voucher{
    flex-direction: column;
    gap: .75rem;
  }

  .cart__inp_voucher .btn{
    border-radius: var(--border);
  }

  .cart__inp_voucher--input{
    padding: 7px 13px;
    border-radius: var(--border);
  }

}