:root{
  --hero-height: 300px;
  --image-height: 400px;
}

#bg{
  width: 100%;
  height: var(--hero-height);

  background-color: var(--secondary);

  border-radius: var(--border);
  box-shadow: 5px 7px 10px -9px rgba(0,0,0,.8);

  margin-top: calc(var(--image-height) * 0.3 + .5rem);
  position: relative;
}

#bg__image{
  position: absolute;
  bottom: 0;
  right: 5%;
  height: var(--image-height);
  object-fit: cover;
}

#wrapper{
  position: absolute;
  left: 5%;
  top: 30%;
  max-width: 60%;
}

#title, .text_primary{
  font-size: 2.5rem;
  text-transform: uppercase;

  margin-bottom: .75rem;
}

#desc{
  font-size: 1rem;
}