:root{
  /* bg color */
  --background-primary: #FFFCF7;
  --background-holiday: #db3232;

  /* color */
  --black: #08090D;
  --white: #fff;
  --red: red;
  
  --primary: #F2BD57;

  --border: 10px;

}

@import url('./base.css');
@import url('./custom-slick.css');

body{
  background-color: var(--background-primary);
}

.container{
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 .5rem;
}