:root{
  /* bg color */
  --background-primary: #FFFCF7;

  /* color */
  --black: #08090D;
  --white: #fff;
  --red: #db3232;
  --red-rgb: 219, 50, 50;
  --primary: #F2BD57;
  --primary-rgb: 242, 189, 87;
  --secondary: #ffecd3;
  --gray: #a8a8a8;
  --star: #ffa800;
  --border-color: #e5e5e5;

  --border: 10px;

}

@import url('./base.css');
@import url('./custom-slick.css');

body{
  background-color: var(--background-primary);

  min-height: 100vh;
}
#root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container{
  width: 85%;
  height: inherit;
  margin: 0 auto;
  padding: 0 .5rem;
}

.page__title{
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.page__flex{
  display: flex;
  align-items: center;
}

.page__left{
  flex: 1;
}
.page__right{
  flex: 1;
}

.full_divide{
  width: 100%;
  border-bottom: 1px solid var(--border-color);
  margin: .5rem 0;
}

.short_divide{
  width: 10%;
  border-bottom: 1px solid var(--primary);
  margin: 5px 0;
}

.text_right{
  text-align: right !important;
}

.rating-text{
  display: flex;
  align-items: flex-end;
  gap: 3px;

  color: var(--star);
  font-weight: 600;
}
.rating-text i{
  font-size: 1.2rem;
}

.flex{
  display: flex;
}

.page__half_img{
  object-fit: cover;
  display: block;
  height: auto;
  width: 100%;
}

.red_text{
  color: var(--red);
}
.font_medium{
  font-weight: 600;
}

.dropdown__wrapper{
  position: relative;
}

.active-progress i{
  color: var(--primary);

  border-color: var(--primary)
}
.active-progress p{
  color: var(--primary);
}